language: python
python:
    - 3.6
    - 3.5
    - 3.4
install:
  - pip install --upgrade setuptools pip
  - pip install --upgrade --pre -e .[test] pytest-cov pytest-warnings codecov
script:
  - py.test --cov jupyter_kernel_mgmt jupyter_kernel_mgmt
after_success:
  - codecov
