language: python
python:
    - 3.8
    - 3.7
    - 3.6
    - 3.5
install:
  - pip install --upgrade setuptools pip
  - pip install --upgrade -e .[test] pytest-cov codecov
  - pip freeze
script:
  - py.test --cov jupyter_kernel_mgmt jupyter_kernel_mgmt
after_success:
  - codecov
